<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-face-recognize" version="1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>cordovaFace</name>

    <preference name="FACE_APP_ID"/>
    <preference name="FD_SDK_KEY"/>
    <js-module name="cordovaFace" src="www/cordovaFace.js">
        <clobbers target="cordova.plugins.cordovaFace" />
    </js-module>

    <platform name="android">
    	<hook type="after_prepare" src="hooks/update-android-manifest.js" />
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="FaceRecognizePlugin">
				<param name="android-package" value="cordova.plugin.face.recognize.FaceRecognizePlugin" />
			</feature>
			<preference name="face_app_id" value="$FACE_APP_ID" />
		    <preference name="fd_sdk_key" value="$FD_SDK_KEY" />
		</config-file>
		<config-file parent="/manifest" target="AndroidManifest.xml">
			<!-- Push service 运行需要的权限 -->
		    <uses-permission android:name="android.permission.CAMERA" />
			 <uses-feature android:name="android.hardware.camera" />
			 <uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-permission android:name="android.permission.WEITE_EXTERNAL_STORAGE"/>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml"> 
            <activity android:name="cordova.plugin.face.recognize.FacePreviewActivity" android:theme="@android:style/Theme.DeviceDefault.NoActionBar" android:screenOrientation="portrait"/>
		</config-file>
		<source-file src="src/android/FaceRecognizePlugin.java" target-dir="cordova/plugin/face/recognize" />
		<source-file src="src/android/FacePreviewActivity.java" target-dir="cordova/plugin/face/recognize" />
		<source-file src="src/android/HrFaceSdkHelper.java" target-dir="cordova/plugin/face/recognize" />
		<source-file src="src/android/CircleSurfaceView.java" target-dir="cordova/plugin/face/recognize" />
		<source-file src="src/android/CommonUtils.java" target-dir="cordova/plugin/face/recognize" />
		<resource-file  src="src/android/preview.xml" target="res/layout/preview.xml" />
		<resource-file src="src/android/strings.xml" target="res/values/strings.xml" />
		<resource-file src="src/android/drawable/yw_1222_0670.jpg" target="res/drawable/yw_1222_0670.jpg" />
		<resource-file src="src/android/network_security_config.xml" target="res/xml/network_security_config.xml" reference="true"/>
		<source-file src="src/android/libs/facedetection.jar" target-dir="libs/" />
		<source-file src="src/android/libs/FaceLivenessOpen-2.2.0.7.aar" target-dir="libs/" />
		<source-file src="src/android/libs/logging-interceptor-3.12.0.jar" target-dir="libs/" />
		<source-file src="src/android/libs/oss-android-sdk-2.9.2.aar" target-dir="libs/" />
		<source-file src="src/android/libs/rpsdk-3.2.0.4.aar" target-dir="libs/" />
		<source-file src="src/android/libs/SecurityBodySDK-external-preInstall-5.4.108.aar" target-dir="libs/" />
		<source-file src="src/android/libs/SecurityGuardSDK-external-preInstall-5.4.184.aar" target-dir="libs/" />
		<source-file src="src/android/libs/windvane-min-8.0.3.2.3.jar" target-dir="libs/" />
		<source-file src="src/android/libs/armeabi/libArcSoft_FDEngine.so" target-dir="src/main/jniLibs/armeabi/"/>
		<source-file src="src/android/libs/armeabi/libmpbase.so" target-dir="src/main/jniLibs/armeabi/"/>
		<source-file src="src/android/libs/armeabi/libc++_shared.so" target-dir="src/main/jniLibs/armeabi/"/>
		<source-file src="src/android/libs/armeabi/libFaceLivenessOpen-release_alijtca_plus.so" target-dir="src/main/jniLibs/armeabi/"/>
		<source-file src="src/android/libs/armeabi/libLivenessModule.so" target-dir="src/main/jniLibs/armeabi/"/>
		<source-file src="src/android/libs/armeabi-v7a/libArcSoft_FDEngine.so" target-dir="src/main/jniLibs/armeabi-v7a/" />
		<source-file src="src/android/libs/armeabi-v7a/libmpbase.so" target-dir="src/main/jniLibs/armeabi-v7a/" />
		<source-file src="src/android/libs/armeabi-v7a/libc++_shared.so" target-dir="src/main/jniLibs/armeabi-v7a/" />
		<framework src="src/android/dependcy.gradle" custom="true" type="gradleReference"/>
		<framework src="com.android.support:appcompat-v7:24.0.0"/>
	</platform>
</plugin>
